
<div class="col-lg-6">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit Claim</h5>
            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col-12">
                <label for="inputNanme4" class="form-label"></label>
                {{ form_row(form.titre)}}
            </div>
            <div class="col-12">
                <label for="inputNanme4" class="form-label"></label>
                {{ form_row(form.description)}}
            </div>
            <div class="col-12">
                <label for="inputNanme4" class="form-label"></label>
                {{ form_row(form.imageFile)}}
            </div>
            <div class="col-12">
                <label for="inputNanme4" class="form-label"></label>
                {{ form_row(form.idtyper)}}
            </div>
            <div class="col-12">
                <label for="inputNanme4" class="form-label"></label>
                {{ form_row(form.etat)}}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Edit and send a response</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>