{% extends 'myclaims.html.twig' %}

{% block title %}Reclam index{% endblock %}
{% block cart %}
    <!-- Cart -->
    <div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>
        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>
            <div class="header-cart-content flex-w js-pscroll">
                <ul class="header-cart-wrapitem w-full">
                    {% if app.user %}
                    {% if cart is not null %}
                    {% if app.user.id == cart.idUser.id %}
                    {% for article in cart.idArticle %}
                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <a href="{{ path('app_articles_quick_view',{'id':article.idArticle}) }}">
                                    <img src="{{vich_uploader_asset(article,'fileFile') }}" alt="IMG">
                                </a>
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    {{ article.titreArticle }}
                                </a>
                                <span class="header-cart-item-info">
								 {{ article.prixArticle }}TND
							</span>
                                {#   <span class="header-cart-item-info">
								{{ cart.quantite}} x {{ article.prixArticle }}TND
							</span> #}
                            </div>
                        </li>
                    {% endfor %}

                </ul>

                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: {{ cart.total }}TND
                    </div>

                    <div class="header-cart-buttons flex-w w-full">
                        <a href="{{ path('app_articles_cart') }}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                            View Cart
                        </a>
                        <a href="{{ path('app_articles_pdfcart',{'id':cart.idPanier}) }}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 ">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
                {% endif %}
                {% else %}
                    <ul class="header-cart-wrapitem w-full">
                        <li class="header-cart-item flex-w flex-t m-b-12">

                            <div class="header-cart-item-txt p-t-8">
                                <p>>Your cart is empty</p>
                            </div>
                        </li>
                    </ul>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block formclaim %}

    <div style=" justify-content: center; margin-left: 150px;">

        <div class="card">
            <div  style="display: flex;align-items: center;justify-content: center;margin-top: 20px; padding: 50px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="card-body">
                    <center> <h1 class="card-title" >My Claims</h1> </center>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Image</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reclam in reclams %}
                            <tr>

                                <td>{{ reclam.titre }}</td>
                                <td>{{ reclam.description }}</td>
                                <td>{{ reclam.idtyper.nom }}</td>
                                <td><img src="{{vich_uploader_asset(reclam,'imageFile') }}" width="80" height="80"></td>
                                <td>{{ reclam.dater ? reclam.dater|date('Y-m-d') : '' }}</td>
                                <td>{{ reclam.etat }}</td>
                                <td>
                                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" onclick="window.location.href=' {{ path('app_reclam_show2', {'idr': reclam.idr}) }}'">show</button>
                                    &nbsp;&nbsp;{% if 'Unprocessed' in reclam.etat  %}
                                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" onclick="window.location.href=' {{ path('app_reclam_edit2', {'idr': reclam.idr}) }}'">edit</button>
                                        {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" onclick="window.location.href='{{ path('app_reclam_new' ) }}'">Send new claim</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
