{% extends 'base.html.twig' %}

{% block title %}Reclam index{% endblock %}

{% block tableForm %}

<div style=" justify-content: center; margin-left: 150px;">

    <div class="card">
        <div  style="display: flex;align-items: center;justify-content: center;margin-top: 20px; padding: 50px;">

            <div class="card-body">
                <center> <h1 class="card-title" >Claims</h1> </center>

                <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Image</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclam in reclams %}
            <tr>

                <td>{{ reclam.titre }}</td>
                <td>{{ reclam.idtyper.nom }}</td>
                <td><img src="{{vich_uploader_asset(reclam,'imageFile') }}" width="80" height="80"></td>
                <td>{{ reclam.dater ? reclam.dater|date('Y-m-d') : '' }}</td>
                <td>{{ reclam.etat }}</td>
                <td>
                    <button class="btn btn-primary" onclick="window.location.href='{{ path('app_reclam_show', {'idr': reclam.idr}) }}'">show</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-primary" onclick="window.location.href=' {{ path('app_reclam_edit', {'idr': reclam.idr}) }}'">edit</button>
                    <div class="text-center">
                    <a href="{{ path('app_reclam_pdf',{'idr':reclam.idr}) }}"><img src="{{ asset('images/pdf.png') }}" width="40" height="40"></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                <div class="text-center">
                <button class="btn btn-primary" onclick="window.location.href='{{ path('app_typereclamation_new' ) }}'"> Create new Type</button>
                    <button class="btn btn-primary" onclick="window.location.href='{{ path('app_reclam_stats' ) }}'">Stats</button>
            </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}
