{% extends 'contact.html.twig' %}

{% block title %}New Reclam{% endblock %}
{% block cart %}
    <!-- Cart -->
    <div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>
        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>
            <div class="header-cart-content flex-w js-pscroll">
                <ul class="header-cart-wrapitem w-full">
                    {% if app.user %}
                    {% if cart is not null %}
                    {% if app.user.id == cart.idUser.id %}
                    {% for article in cart.idArticle %}
                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <a href="{{ path('app_articles_quick_view',{'id':article.idArticle}) }}">
                                    <img src="{{vich_uploader_asset(article,'fileFile') }}" alt="IMG">
                                </a>
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    {{ article.titreArticle }}
                                </a>
                                <span class="header-cart-item-info">
								 {{ article.prixArticle }}TND
							</span>
                                {#   <span class="header-cart-item-info">
								{{ cart.quantite}} x {{ article.prixArticle }}TND
							</span> #}
                            </div>
                        </li>
                    {% endfor %}

                </ul>

                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: {{ cart.total }}TND
                    </div>

                    <div class="header-cart-buttons flex-w w-full">
                        <a href="{{ path('app_articles_cart') }}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                            View Cart
                        </a>
                        <a href="{{ path('app_articles_pdfcart',{'id':cart.idPanier}) }}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 ">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
                {% endif %}
                {% else %}
                    <ul class="header-cart-wrapitem w-full">
                        <li class="header-cart-item flex-w flex-t m-b-12">

                            <div class="header-cart-item-txt p-t-8">
                                <p>>Your cart is empty</p>
                            </div>
                        </li>
                    </ul>

                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block formclaim %}

    {{ include('reclam/_form.html.twig') }}


{% endblock %}
