{% extends 'base.html.twig' %}
{% block tableForm %}
<div style=" justify-content: center; margin-left: 150px;">
        
          <div class="card">
          <div  style="display: flex;align-items: center;justify-content: center;margin-top: 15px; padding: 10px;">

            <div class="card-body">
             <center> <h1 class="card-title" >Gallery</h1> </center>



    

    <table class="table">
        <tbody>
            <tr>
                <th>Id Gallery</th>
                <td>{{ galery.idGalerie }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ galery.titreGalerie }}</td>
            </tr>
        </tbody>
    </table>
                   <div class="button-container" style="  margin-top: 20px;">
                     <button class="btn btn-success btn-sm " style="  margin-left: 210px;" onclick="window.location.href='{{ path('app_galeries_edit', {'idGalerie': galery.idGalerie}) }}'">Edit <i class="bi bi-pencil-square"></i></button>

<div class="text-center" >
{% if articles is empty %}

 {{ include('galeries/_delete_form.html.twig') }}
               {% else %}
                           <button class="btn btn-danger btn-sm  " style="  margin-right: 210px;"  onclick="window.location.href='{{ path('app_galeries_delete1',{'idGalerie': galery.idGalerie}) }}'">Delete <i class="bi bi-trash"></i></button>               

               {% endif %}
                </div>
</div>


    </div>
</div>
</div>
</div>
</div>
  <button class="btn btn-info btn-sm" onclick="window.location.href='{{ path('app_galeries_index') }}'"> <i class="bi bi-arrow-bar-left"></i> Back to List  </button>

</div>
</div>
{% endblock %}
