{% extends 'artist.html.twig' %}
{% block tableForm %}
    <div style="display: flex; justify-content: center; margin-left: 170px; ">
        
          <div class="card">
          <div  style="display: flex;align-items: center;justify-content: center;margin-top: 15px; padding: 10px;">

            <div class="card-body">
             <center> <h1 class="card-title" >Article</h1> </center>

    <table class="table">
        <thead>
            <tr>
                
                <th>Title</th>
                <th>Name</th>

                <th>Article</th>
                <th>Gallery</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                
                <td>{{ article.titreArticle }}</td>
                <td>{{ article.nomArtiste }}</td>
               
                <td>
                      {% if article.photoArticle|lower matches '/(pdf)$/' %}
                        <object data="{{ vich_uploader_asset(article, 'fileFile') }}" type="application/pdf" width="80" height="80    ">
                            <p>Your web browser doesn't have a PDF plugin. Instead you can <a href="{{ vich_uploader_asset(article, 'fileFile') }}">click here to download the PDF file.</a></p>
                        </object>
                    {% elseif article.photoArticle|lower matches '/(mp4|webm|ogv)$/' %}
                        <video controls width="80" height="80">
                            <source src="{{ vich_uploader_asset(article, 'fileFile') }}" type="video/{{ article.photoArticle|lower|split('.')|last }}">
                            Your browser does not support the video tag.
                        </video>
                   {% else %}
                    <img src="{{vich_uploader_asset(article,'fileFile') }}" width="80" height="80">
                    {% endif %}
                    </td>
                <td>{{article.idGalerie.titreGalerie}}</td>
                <td>
                  <button class="btn btn-info btn-sm  " style="  margin-left: 20px;" onclick="window.location.href='{{ path('app_articles_show', {'idArticle': article.idArticle}) }}'"> Show <i class="bi bi-eye"></i></button>
<div  style="margin-top: 10px;">     </div> 
                 <button class="btn btn-info btn-sm  " style="  margin-left: 20px;" onclick="window.location.href='{{ path('app_articles_edit', {'idArticle': article.idArticle}) }}'">Edit <i class="bi bi-pencil-square"></i></button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center" style="  margin-top: 50px;">
<button class="btn btn-primary"  onclick="window.location.href='{{ path('app_articles_new') }}'"> <i class="bi bi-plus"></i>Create new Article </button>
   


   
       </div>
                <div class="text-center">

                    {{ knp_pagination_render(articles) }}

                </div>
       </div>
</div>
</div>
</div>

{# <div  style="  margin-top: 10px;">
<button class="btn btn-primary" onclick="window.location.href='{{ path('app_galeries_index') }}'">Admin view</button>
</div>
<div  style="  margin-top: 10px;">
<button class="btn btn-primary"  onclick="window.location.href='{{ path('app_articles_indexfront') }}'">Client view </button>
</div> #}

{% endblock %}
