{% extends 'base.html.twig' %}
{% block tableForm %}
    <div style="display: flex; justify-content: center; margin-left: 170px; ">
        
          <div class="card">
          <div  style="display: flex;align-items: center;justify-content: center;margin-top: 15px; padding: 10px;">

            <div class="card-body">
             <center> <h1 class="card-title" >Article</h1> </center>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Article</th>
                <th>User</th>
                <th>Rate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.idArticle }}</td>
                <td>{{ article.titreArticle }}</td>
                <td>{{ article.nomArtiste }}</td>
                <td>{{ article.prixArticle }}</td>
                <td>{{ article.descArticle }}</td>
                <td>{{ article.quantiteArticle }}</td>
                <td>
                      {% if article.photoArticle|lower matches '/(pdf)$/' %}
                        <object data="{{ vich_uploader_asset(article, 'fileFile') }}" type="application/pdf" width="80" height="80    ">
                            <p>Your web browser doesn't have a PDF plugin. Instead you can <a href="{{ vich_uploader_asset(article, 'fileFile') }}">click here to download the PDF file.</a></p>
                        </object>
                    {% elseif article.photoArticle|lower matches '/(mp4|webm|ogv)$/' %}
                        <video controls width="80" height="80">
                            <source src="{{ vich_uploader_asset(article, 'fileFile') }}" type="video/{{ article.photoArticle|lower|split('.')|last }}">
                            Your browser does not support the video tag.
                        </video>
                   {% else %}
                    <img src="{{vich_uploader_asset(article,'fileFile') }}" width="80" height="80">
                    {% endif %}
                    </td>
                <td>{{ article.idUser }}</td>
                <td>{{ article.rate }}</td>
                <td>
                    <a href="{{ path('app_articles_show', {'idArticle': article.idArticle}) }}">show</a>
    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       </div>
</div>
</div>
</div>
{% endblock %}
